<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @entity.service %>
</p>

<p>
  <strong>Département:</strong>
  <%= @entity.departement %>
</p>

<%= link_to 'Editer', edit_entity_path(@entity) %> |
<%= link_to 'Retour', entities_path %>
