<h1>
    Mes dossiers
    <%= link_to "Créer un nouveau dossier", new_signalement_path, class: "fr-btn" %>
</h1>
<div id="dossier-filters">
    <div class="fr-checkbox-group">
        <input 
            type="checkbox"
            id="ds-index-checkbox-urgence" 
            name="checkbox" 
            onclick="InfoParquet.signalements.index.toggleDossierUrgent(event, this, '<%= request.query_parameters %>')"
            <%= ["true", "oui", "1", 1].include?(request.query_parameters["urgence"]) ? "checked" : nil %>
        >
        <label class="fr-label" for="ds-index-checkbox-urgence">seulement les dossiers urgents</label>
    </div>

    <%= form_with method: "get" do |form| %>
        <div class="fr-search-bar" id="header-search" role="search">
        <label class="fr-label" for="search-1">
            Recherche
        </label>
        <input type="hidden" name="urgence" value="<%= request.query_parameters["urgence"] || "false" %>">
        <input class="fr-input" placeholder="Rechercher" type="search" id="search-1" name="search" value="<%= @search %>">
        <button type="submit" class="fr-btn" title="Rechercher">
            Rechercher
        </button>
        </div>
    <% end %>
</div>
<div id="dossier-container">
    <%= render "signalements" %>
</div>

<%= javascript_pack_tag 'signalements/index' %>