<h2><%= current_user.prenom %> <%= current_user.nom %></h2>
<p>
    E-mail : <%= current_user.email %><br />
    Téléphone : <%= current_user.telephone %>
</p>
<% if current_user.administration %>
    <p>
        Administration : <%= current_user.administration %><br />
        Service : <%= current_user.service %>
    </p>
<% end %>
