<h2>Mon compte</h2>
<table>
    <tr><th>Prénom :</th><td><%= current_user.prenom %></td></tr>
    <tr><th>Nom :</th><td><%= current_user.nom %></td></tr>
    <tr><th>Courriel :</th><td><%= current_user.email %></td></tr>
</table>
<% if current_user.administration %>
    <p>
        <strong>Administration :</strong> <%= current_user.administration %><br />
        <strong>Service :</strong> <%= current_user.service %>
    </p>
<% end %>

<%= link_to "Editer", edit_user_registration_path, class: "fr-link" %>